<!DOCTYPE html>
<html>
<head>
	<title>Yes Delish</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/header.js' %}"></script>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top navbar-custom">
		<div class="container header_container">
			<!-- social media -->

			<div class="text-center left-block social-media">
				<a href="https://www.facebook.com/"><img src="{% static 'image/facebook.png' %}" class="social"></i></a>
				<a href="https://twitter.com/"><img src="{% static 'image/twitter.png' %}" class="social"></i></a>
				<a href="https://plus.google.com/"><img src="{% static 'image/instagram.png' %}" class="social"></i></a>
				<a href="mailto:ktran035@uw.edu"><img src="{% static 'image/youtube.png' %}" class="social"></i></a>
			</div>

			<span class="brand-title"> <img src="{% static 'image/brand_title.png' %}" style="width: 40%; padding-bottom: 15px;"></span>
			<div class="navbar-collapse collapse dropdown" id="navbar-main">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle dropdown-custom" data-toggle="dropdown" style="background-color: #691e16;"><img src="{% static 'image/dropdown_icon.png' %}" class="dropdown_icon"></b></a>
						<ul class="dropdown-menu dropdown-menu2">
							<p><a href="" class="small-menu">LOGIN</a></p>
							<p><a href="" class="small-menu">JOIN</a></p>
							<img src="{% static 'image/divider.png' %}" class="divider2">
							<p><a href="" class="small-menu">RECIPE</a></p>
							<p><a href="" class="small-menu">SCHEDULE</a></p>

							<img src="{% static 'image/divider.png' %}" class="divider2">
							<p><a href="" class="small-menu">ABOUT US</a></p>
							<p><a href="" class="small-menu">CONTACT</a></p>
						</ul>
					</li>
				</ul>
				<div>
				</div>
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
			</div>
			<div class="search-div">
				<img src="{% static 'image/search_mobile.png' %}" class="search-btn">
			</div>
			
		</div>
	</div>
	{% block content %}
	{% endblock %}
</body>
</html>