{% extends "web_content/header.html" %}
{% load staticfiles %}
{% block content %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>

{% include "web_content/includes/view-plan.html" %}

<!-- meal plan -->
{% include "web_content/includes/meal-plan.html" %}

<!-- delivery -->
{% include "web_content/includes/delivery.html" %}

<!-- Recipe Slider -->
{% include "web_content/includes/recipe.html" %}


<!-- About us -->
{% include "web_content/includes/about-us.html" %}
<!-- reviews -->
{% include "web_content/includes/review.html" %}

{% include "web_content/includes/footer.html" %}
{% endblock %}