{% load staticfiles %}
<h2 class="anchor" id="aboutUsId" class=""></h2>
<img src="{% static 'image/divider.png' %}" class="divider3">
<div class="about_us">
    <h2 class="about_us_title">ABOUT US</h2>
    <img class="aboutus-img" src="{% static 'image/about-us.png' %}">
    <p class = "pag_content">About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content About us content </p>
    <img class="learn-more-btn" src="{% static 'image/learn_more.png' %}">
</div>

<br/>

<img src="{% static 'image/divider.png' %}" class="divider3">