{% load staticfiles %}
<div class="delivery">
    <h2 class="delivery-title">DELIVERY AREAS</h2>
    <p class="delivery-info">America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America America </p>
    <img class="map-img" src="{% static 'image/deliveryareas.png' %}">
</div>