{% load staticfiles %}
<div class="container view-plan">
    <div class="row custom-viewplan">
        <div class="col-md-12 view-plan2">
            <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="viewplan_img">
                    <div class="viewplan-clickable">
                        <img src="{% static 'image/divider.png' %}" class="viewplan-divider">
                        <p class="pagg">JOIN US FOR AN ENCHANTING EVENING IN THE GROUNDS SECRET GARDEN JOIN US FOR AN ENCHANTING EVENING IN THE GROUNDS SECRET GARDEN JOIN US FOR AN ENCHANTING EVENING IN THE GROUNDS SECRET GARDEN GARDEN JOIN US FOR AN ENCHANTING EVENING IN THE GROUNDS SECRET GARDEN GARDEN JOIN US FOR AN ENCHANTING EVENING IN THE GROUNDS SECRET GARDEN </p>
                        <img src="{% static 'image/divider.png' %}" class="viewplan-divider">
                        <img src="{% static 'image/view_plan.png' %}" class="viewplan-btn">
                        
                    </div>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{% static 'image/learnmore_pic.png' %}"" alt="First slide" class="plan-img">
                           
                        </div>
                        <div class="item">
                            <img src="{% static 'image/learnmore_pic.png' %}"" alt="Second slide" class="plan-img">
                            
                        </div>
                        <div class="item">

                            <img src="{% static 'image/learnmore_pic.png' %}" alt="Third slide" class="plan-img">
                            
                        </div>
                    </div> 
                </div>           
                
            </div>
        </div>
    </div>
</div>